.resumo{
    background-color: rgb(60, 224, 175);
}

.texto p{
    font-size: 1.5625rem; 
    text-align: justify;
}

.texto h1{
    font-size: 2.8125rem; 
}

.imagemzap img{
    border: 10px solid white;
    border-radius: 20px;
    width: 450px;
}

.instalacao{
    background-color: rgba(86,0,150,1);
}

.container_tutorial{
    background-color: rgb(20, 1, 76);
}

.texto_explicativo p{
    width: 500px;
    font-size: 1.25rem; 
    text-align: justify;
}

.titulo h3{
    font-size: 2.1875rem; 
}

.explicacao1{
    width: 800px;
    font-size: 1.5625rem; 
    text-align: center;
}

.imagem_explicativa img{
    width: 600px;
    box-shadow: 10px 10px 0px rgb(0, 216, 173);
}

.recomen_video{
    font-size: 2.1875rem; 
    font-weight: bold;
    color: white;
    text-align: justify;
}

.recomen_video h3{
    width: 100%;
}

.recomen_video iframe{
    border: 10px solid white;
    box-shadow: 10px 10px 0px rgb(0, 166, 255);
    width: 500px;
}

.explicacoes{
    background: linear-gradient(180deg, rgba(86, 84, 228, 1) 0%, rgb(99, 135, 253) 50%, rgb(129, 127, 245) 100%);
    color: white;
}

.explicacoes p, li{
    font-size: 1.25rem; 
    text-align: justify;
}

.explicacoes h4{
    text-align: center;
    font-size: 1.875rem; 
}

.explicacoes img{
    width: 500px;
}

.cuidados{
    background: linear-gradient(180deg, rgba(177,182,255,1) 0%, rgba(128,189,255,1) 50%, rgb(106, 207, 255) 100%);    
}

.titulo2 h3{
    color: #16032e;
    font-size: 2.1875rem; 
}

.cuidadoCard{
    background-color: rgb(177, 255, 229);
    padding: 20px;
    width: 600px;
    border: 10px solid rgb(18, 238, 179);
    border-radius: 20px;
    box-shadow: 10px 10px 0px rgba(81, 0, 156, 0.541);
    transition: background-color 0.9s ease;
}

.cuidadoCard:hover{
    transform: scale(1.05);
    transition: transform 0.9s ease;
    background-color: rgb(144, 73, 211);
    color: white;
}

.cuidadoCard p{
    font-size: 1.25rem;
    text-align: justify;
}

@media (max-width: 768px) {

    .imagemzap img{
        width: 250px;
    }

    .texto p{
        font-size: 1.25rem;
        text-align: justify;
    }

    .texto h1{
        font-size: 2.5rem; 
    }

    .titulo h3{
        font-size: 2.1875rem;
    }

    .explicacao1{
        width: 100%;
        font-size: 1.25rem;
        text-align: center;
    }

    .texto_explicativo p{
        width: 90%;
        font-size: 1.125rem; 
        text-align: justify;
    }

    .imgGeral img{
        width: 300px;
        box-shadow: 10px 10px 0px rgb(0, 216, 173);
        margin-bottom: 50px;
    }

    .container_limite{
        min-width: 100% !important;
        max-width: 100% !important;
        min-height: 700px !important;
        max-height: 700px !important;
    }

    .textoGeral{
        color: white;
        font-size: 1.375rem; 
        width: 100%;
        text-align: justify;
    }

    .recomen_video{
        font-size: 1.875rem; 
        font-weight: bold;
        color: white;
    }

    .recomen_video h3{
        width: 90%;
        text-align: center;
        margin-bottom: 50px;
    }

    .recomen_video iframe{
        width: 100%;
        height: 190px;
    }

    .primeiro{
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {

    .textoGeral{
        color: white;
        font-size: 1.125rem; 
        width: 90%;
        text-align: justify;
    }

    .imgGeral img{
        width: 250px;
    }

    .recomen_video{
        font-size: 1.25rem; 
        font-weight: bold;
        color: white;
    }

    .recomen_video iframe{
        width: 80%;
        height: 150px;
    }

    .titulo2 h3{
        color: #16032e;
        font-size: 1.875rem; 
    }

    .cuidadoCard p{
        font-size: 1.125rem; 
        text-align: left;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #00fd94; 
  padding: 18px; 
}

@media (max-width: 768px) {

    .carousel-inner{
        height: 700px !important; 
    }

    .container_tutorial{
        height: 100%;
    }

    .carousel-item {
        height: 100% !important;
    }

}

